/* App.css */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the toggle dot */
.dot {
  background: white;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
}